[user]
	email = pikachu13711@gmail.com
	name = pikachu0310
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
