[user]
	email = sunnon@i.softbank.jp
	name = pikachu0310
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
